<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="../../assets/tiketcom.png" alt="Tiket"/> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">

      </ul>
      <button class="btn btn-outline-success my-2 mr-0 my-sm-0">Login</button>
    </div>
  </nav>
  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" routerLink="">Flight</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled" routerLink="">Hotel</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled" routerLink="">Train</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled" routerLink="">Car Rental</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled" routerLink="">Entertainment</a>
  </nav>
</header>

<div style="margin-bottom: 50px;">

</div>
