<div class="row">

  <div class="col-sm-2">
    <img [src]="getLogo(flight.flightCode)" style="height: auto;" class="img-fluid" [alt]="flight.flightName"/>
  </div>
  <div class="col-sm-2 d-inline-block">
    <!--<div class="row">-->
    <!--<small>Departure</small>-->
    <!--</div>-->
    <div>{{flight.originDepartTime}}</div>
    <small>{{flight.originDepartDate}}</small>
  </div>
  <div class="col-sm-1 d-inline-block">
    <div>
      <img src="../../assets/arrow.png" alt="" class="img-fluid">
    </div>
  </div>
  <div class="col-md-2 d-inline-block">
    <!--<div class="row">-->
    <!--<small>Arrival</small>-->
    <!--</div>-->
    <div>
      {{flight.destinationArrivalTime}}
    </div>
    <div>
      <small>{{flight.destinationArrivalDate}}</small>
    </div>

  </div>
  <div class="col-sm-2">
    <!--<div class="row">-->
    <!--<small>Duration</small>-->
    <!--</div>-->
    <div>
      {{'2h45m'}}
    </div>
    <div>
      <small>
        {{'1 stop(s)'}}
      </small>
    </div>
  </div>
  <div class="col-sm-3 d-inline-block" style="position:relative; padding-top: 10px;">
    <span name="price mt-2">INR : {{flight.pricePerAdult}}</span>
  </div>
</div>
<div *ngIf="dependent">

  <div *ngIf="!flightBookingService.loaded">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="flightBookingService.loaded">
    <div class="my-2 mx-2">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <div>
            {{flightBookingService.flightDetailsResponse.response.detailResult[0].flightName}}
            {{flightBookingService.flightDetailsResponse.response.detailResult[0].flightNumber}}
          </div>
          <div>
            <small>Flight number</small>
          </div>
        </div>

        <div class="col-sm-4">
          <div
            [ngClass]="{
            'text-success': flightBookingService.flightDetailsResponse.response.detailResult[0].seatRemain > 10,
             'text-danger':flightBookingService.flightDetailsResponse.response.detailResult[0].seatRemain <= 10
             }">
            {{ flightBookingService.flightDetailsResponse.response.detailResult[0].seatRemain }}
          </div>
          <div>
            <small>Seats Remaining</small>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <p>Fare Details</p>
    <div class="row">
      <div class="col-sm-3">
        <div>
          {{ flightBookingService.flightDetailsResponse.response.detailResult[0].pricePerAdult }}
        </div>
        <div>
          <small>
            Price per adult
          </small>
        </div>
      </div>

      <div class="col-sm-3">
        <div>
          {{ flightBookingService.flightDetailsResponse.response.detailResult[0].pricePerChild }}
        </div>
        <div>
          <small>
            Price per Child
          </small>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          {{ flightBookingService.flightDetailsResponse.response.detailResult[0].pricePerInfant }}
        </div>
        <div>
          <small>
            Price per Infant
          </small>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <p class="text-success"
             *ngIf="flightBookingService.flightDetailsResponse.response.detailResult[0].refundable">Refundable</p>
          <p class="text-danger"
             *ngIf="!flightBookingService.flightDetailsResponse.response.detailResult[0].refundable">Non
            Refundable</p>
        </div>
      </div>
    </div>
  </div>
</div>

