<hr>
<div class="my-2">
  Passenger Details
</div>

<mat-list style="text-align: left">
  <mat-list-item
    *ngFor="let passengerBio of flightBookingService.passengerDetailsFormGroup.value['passengerBioFormArray']; let i = index">
    <h4 mat-line><span class="mr-2">{{i + 1}}.</span>
      {{passengerBio.title}} {{passengerBio.firstName}} {{passengerBio.middleName}} {{passengerBio.lastName}}
      <small>{{passengerBio.gender}}</small>
      <small>{{passengerBio.age}} year(s)</small>
    </h4>
  </mat-list-item>
  <hr>

  <h2 mat-subheader>Contact Details</h2>
  <div class="table-responsive font-weight-light col-md-6" style="font-size: 12px;">
    <table class="table">
      <tbody>
      <tr>
        <td>Email</td>
        <td><b>{{this.flightBookingService.passengerDetailsFormGroup.value['passengerContactDetailsGroup'].email}}</b>
        </td>
      </tr>
      <tr>
        <td>Mobile Number</td>
        <td><b>{{this.flightBookingService.passengerDetailsFormGroup.value['passengerContactDetailsGroup'].mobileNumber}}</b>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</mat-list>

<p>
  You'll be paying a total of {{currency}} : {{getTotalBookingPrice() | number}}
</p>


<div class="my-2">
  <button mat-raised-button class="btn-danger" matStepperPrevious>Back</button>
  <button mat-raised-button class="btn-primary" matStepperNext (click)="confirm()">Confirm</button>
</div>
