<hr>
<div class="my-2 mt-4">
  Passenger Details
</div>

<mat-list style="text-align: left">

  <div class="mx-2">

    <div class="row">
      <div class="col-md-6 font-weight-light">
        <h2 mat-subheader>Traveller Details</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <td>
                No.
              </td>
              <td>
                Name
              </td>
              <td>
                Gender
              </td>
              <td>
                Age year(s)
              </td>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let passengerBio of flightBookingService.passengerDetailsFormGroup.value['passengerBioFormArray']; let i = index">
              <td>
                {{i + 1}}.
              </td>
              <td>
                {{passengerBio.title}} {{passengerBio.firstName}} {{passengerBio.middleName}} {{passengerBio.lastName}}
              </td>
              <td>
                {{passengerBio.gender}}
              </td>
              <td>
                {{passengerBio.age}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="col-md-6">
        <h2 mat-subheader>Contact Details</h2>
        <div class="table-responsive font-weight-light">
          <table class="table">
            <tbody>
            <tr>
              <td>
                Email
              </td>
              <td>{{this.flightBookingService.passengerDetailsFormGroup.value['passengerContactDetailsGroup'].email}}
              </td>
            </tr>
            <tr>
              <td>
                Mobile Number
              </td>
              <td>
                {{this.flightBookingService.passengerDetailsFormGroup.value['passengerContactDetailsGroup'].mobileNumber}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</mat-list>

<p>
  <b>You'll be paying a total of {{currency}} : {{getTotalBookingPrice() | number}}</b>
</p>


<div class="my-2">
  <button mat-raised-button class="btn-danger" matStepperPrevious>Back</button>
  <button mat-raised-button class="btn-primary" matStepperNext (click)="confirm()">Confirm</button>
</div>
