<mat-card class="mb-5">
  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
    <mat-step #tabPassengerDetails>
      <ng-template matStepLabel>Passenger details</ng-template>
      <mat-divider></mat-divider>
      <div class="my-2">
        Flight Details
      </div>
      <mat-card class="my-1 mx-2">
        <div *ngFor="let flight of flightBookingService.currentBooking">
          <app-flight-view [flight]="flight" [dependent]="true"></app-flight-view>
        </div>
      </mat-card>
      <app-passenger-details></app-passenger-details>
    </mat-step>

    <mat-step #tabReview>
      <ng-template matStepLabel>Review</ng-template>
      <mat-divider></mat-divider>
      <div class="my-2">
        Flight Details
      </div>
      <mat-card class="my-1 mx-2">
        <div *ngFor="let flight of flightBookingService.currentBooking">
          <app-flight-view [flight]="flight" [dependent]="true"></app-flight-view>
        </div>
      </mat-card>
      <app-flight-booking-review (confirmed)="confirmed()"></app-flight-booking-review>
    </mat-step>

    <mat-step>

      <ng-template matStepLabel>Payment</ng-template>
      <mat-divider></mat-divider>
      <div class="my-2">
        Flight Details
      </div>
      <mat-card class="my-1 mx-2">
        <div *ngFor="let flight of flightBookingService.currentBooking">
          <app-flight-view [flight]="flight" [dependent]="true"></app-flight-view>
        </div>
      </mat-card>
      <app-payment></app-payment>
    </mat-step>

  </mat-horizontal-stepper>
</mat-card>
