<div class="alert alert-danger" *ngIf="!paymentService.paymentInitialized">Unable to initialize payment service.</div>

<div *ngIf="paymentService.paymentInitialized">

  <h1>Booking for {{paymentService.paymentRequest.superPnr}}</h1>
    <div class="col-md-6">
      <mat-card>
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Card Number" formControlName="firstName" required>
        </mat-form-field>

        <div>
          <mat-form-field class="col-md-2">
            <input matInput placeholder="Month" formControlName="firstName" required>
          </mat-form-field>

          <mat-form-field class="col-md-2">
            <input matInput placeholder="Year" formControlName="firstName" required>
          </mat-form-field>

          <mat-form-field class="col-md-4 float-right">
            <input matInput placeholder="CVV" formControlName="firstName" required>
          </mat-form-field>
        </div>

      </mat-card>
    </div>
  <div class="my-2">
    <button mat-raised-button class="btn-danger">Cancel</button>
    <button mat-raised-button class="btn-success" (click)="proceedPayment()">Pay</button>
  </div>

</div>
