/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bgblue{
  background-color: #007bff;
  color: #ffffff !important;
}

button:focus{
  outline:none;
}
