<!--<ul class="nav nav-tabs">
  <li class="nav-item">
    <a [ngClass]="{'nav-link': true, 'active': tabSelected == tabs.FLIGHT_DETAILS}" href="#"
       (click)="tabSelected = tabs.FLIGHT_DETAILS">Flight details</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="{'nav-link': true, 'active': tabSelected == tabs.FARE_DETAILS}" href="#"
       (click)="tabSelected = tabs.FARE_DETAILS" href="#">Fare details</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="{'nav-link': true, 'active': tabSelected == tabs.BAGGAGE_DETAILS}" href="#"
       (click)="tabSelected = tabs.BAGGAGE_DETAILS" href="#">Baggage details</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="{'nav-link': true, 'active': tabSelected == tabs.CANCELLATION_FEE}" href="#"
       (click)="tabSelected = tabs.CANCELLATION_FEE" href="#">Cancellation fee</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="{'nav-link': true, 'active': tabSelected == tabs.DATE_CHANGE_FEE}" href="#"
       (click)="tabSelected = tabs.DATE_CHANGE_FEE" href="#">Date change fee</a>
  </li>
</ul>

<div *ngIf="tabSelected == tabs.FLIGHT_DETAILS" #childFlightDetails>
  <button class="btn btn-primary">Click me sir</button>
</div>

<div *ngIf="tabSelected == tabs.FARE_DETAILS" #childFlightDetails>
  <button class="btn btn-primary">Punch me sir</button>
</div>-->

<div class="mt-2"></div>
<mat-tab-group class="tab-group">
  <mat-tab label="Flight details">
    <div class="tab-content" #flightDetailContainer>
    </div>
  </mat-tab>
  <mat-tab label="Fare details">
    <div class="tab-content" #fareDetailContainer>
    </div>
  </mat-tab>
  <mat-tab label="Baggage details">
    <div class="tab-content">
      Baggage details will be displayed here...
    </div>
  </mat-tab>
  <mat-tab label="Cancellation fee">
    <div class="tab-content">
      Cancellation fee details will be displayed here
    </div>
  </mat-tab>
  <mat-tab label="Date change fee">
    <div class="tab-content">
      Date change fee details will be displayed here...
    </div>
  </mat-tab>

</mat-tab-group>

<div #flightDetailContent>
  <div class="my-2 mx-2">
    <div *ngIf="!loaded">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="loaded">
      <!-- display flight summary-->
        <app-flight-view [flight]="flight"></app-flight-view>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <div>
            {{flightDetailsResponse.response.detailResult[0].flightName}}
            {{flightDetailsResponse.response.detailResult[0].flightNumber}}
          </div>
          <div>
            <small>Flight number</small>
          </div>
        </div>
        <div class="col-sm-3">
          <div>
            {{flightDetailsResponse.response.detailResult[0].originTerminal}}
          </div>

          <div>
            <small>{{flightDetailsResponse.response.detailResult[0].originAirportName}}</small>
          </div>
        </div>
        <div class="col-sm-3">
          <div>
            {{flightDetailsResponse.response.detailResult[0].destinationTerminal}}
          </div>

          <div>
            <small>{{flightDetailsResponse.response.detailResult[0].destinationAirportName}}</small>
          </div>
        </div>
        <div class="col-sm-3">
          <div
            [ngClass]="{
            'text-success': flightDetailsResponse.response.detailResult[0].seatRemain > 10,
             'text-danger':flightDetailsResponse.response.detailResult[0].seatRemain <= 10
             }">
            {{ flightDetailsResponse.response.detailResult[0].seatRemain }}
          </div>
          <div>
            <small>Seats Remaining</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div #fareDetailContent>
  <div class="my-2 mx-2">
    <div *ngIf="!loaded">
      Loading...
    </div>
    <div *ngIf="loaded">
      <div class="row">
        <div class="col-md-3">
          <div>
            {{ flightDetailsResponse.response.detailResult[0].pricePerAdult }}
          </div>
          <div>
            <small>
              Price per adult
            </small>
          </div>
        </div>

        <div class="col-md-3">
          <div>
            {{ flightDetailsResponse.response.detailResult[0].pricePerChild }}
          </div>
          <div>
            <small>
              Price per Child
            </small>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            {{ flightDetailsResponse.response.detailResult[0].pricePerInfant }}
          </div>
          <div>
            <small>
              Price per Infant
            </small>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <p class="text-success" *ngIf="flightDetailsResponse.response.detailResult[0].refundable">Refundable</p>
            <p class="text-danger" *ngIf="!flightDetailsResponse.response.detailResult[0].refundable">Non Refundable</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

